.contact{
    display: flex;
    margin: 50px 0; 
    gap: 30px;
    justify-content: space-between;
}

.contact-item{
    display: flex;
    align-items: center;
    width: calc(50% - 30px);
    border: 1px solid #e1e1e1;
    padding: 50px 0;
}

.contact-image{
    margin: 0 50px;
}

.contact-info p{
    font-size: 17px;
    color: #aaa;
}

.contact-info h3{
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
}

.contact-email-link, .contact-phone-link{
    display: block;
    margin-bottom: 15px;
}

.contact-phone-link{
    font-size: 30px;
    color: #bac34e;
}

.contact-email-link{
    font-size: 17px;
    color: #0a472e;
}

.contact-info{
    padding-left: 30px;
    border-left: 1px solid #e1e1e1;
    width: 80%;
}

.contact-item span{
    color: #555;
    font-size: 16px;
    display: block;     
    margin-bottom: 20px;
}

.contact-search{
    display: flex;
    justify-content: space-between;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    padding: 10px 20px;
    width: 90%;
}

.contact-search input{
    border: none;
    outline: none;
    width: 90%;
}

@media(max-width:1140px){
    .contact-item{
        width: 100%;
        margin-bottom: 30px;
    }

    .contact{
        flex-wrap: wrap;
    }
}

@media(max-width:650px){
    .contact-image{
        margin: 0 15px;
    }
}

@media(max-width:450px){
    .contact-phone-link{
        font-size: 20px;
    }

    .contact-image{
        display: none;
    }
}

