.feature-main{
    margin-top: 50px;
}

.feature-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-header h2{
    font-size: 30px;
    color: #0a472e;
    position: relative;
    margin-left: 30px;
}

.feature-link {
    border-color: #bac34e;
}


.feature-link a {
    color: #bac34e;
}

.feature-link img{
    filter: invert(87%) sepia(38%) saturate(661%) hue-rotate(10deg) brightness(85%) contrast(87%);
}

.feature-header h2::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #bac34e;
    border-radius: 100%;
    left: -30px;
    top: 3px;
}

.feature-seller h2::before{
    border: 2px solid red;
}

.feature{
    margin-top: 50px;
    position: relative;
}

.feature-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.feature-item {
    width: calc(25% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    position: relative;
}

.feature-item>img{
    width: 100%;
}

.feature-item--link1 {
    color: #bac34e;
    font-size: 14px;
    margin-top: 30px;
}

.feature-item--link2 {
    color: #000;
    font-size: 14px;
    margin: 15px 0;
    transition: .4s;
}

.feature-item--link2:hover{
    color: #bac34e;
}

.feature-item h3{
    font-size: 16px;
    color: #e0bf96;
}

.feature-link-dop {
    font-size: 12px;
    border: none;
}

.feature-line{
    width: 80px;
    height: 2px;
    background-color: #bac34e;
    margin: 20px 0;
    transition: .4s;
}

.feature-item:hover .feature-line{
    width: 120px;
}

.feature-arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    transition: .4s;
    opacity: 1;
    z-index: 20;
}

.feature-arrow--left{
    left: -25px;
}

.feature-arrow--right{
    right: -25px;
}

.feature-arrow:hover{
    background-color: #bac34e;
    transition: .4s;
}

.feature-arrow img{
    width: 40%;
    transition: .4s;
}

.feature-hidden{
    display: flex;
    position: absolute;
    top: 60%;
    opacity: 0;
    transition: .4s;
}

.feature-item:hover .feature-hidden{
    top: 47%;
    opacity: 1;
}

.feature-hidden div{
    width: 40px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    transition: .4s;
}

.feature-hidden i{
    transition: .4s;
}

.feature-hidden div:hover{
    background-color: #0a472e;
}

.feature-hidden div:hover i{
    filter: invert(1);
}

@media(max-width: 1000px){
    .feature-item{
        width: calc(25% - 10px);
        padding: 30px 15px;
    }
}

@media(max-width: 800px){
    .feature-item:last-child{
        display: none;
    }

    .feature-item{
        width: calc(33.33% - 10px);
    }
}

@media(max-width: 550px){
    .feature-header h2{
        font-size: 20px;
        margin: 0;
    }

    .feature-header h2::before{
        display: none;
    }

    .feature-item:nth-child(3){
        display: none;
    }

    .feature-item{
        width: calc(50% - 20px);
    }
    
}

@media(max-width: 400px){

    .feature-item:nth-child(2){
        display: none;
    }

    .feature-item{
        width: 100%;
    }
    
}